*{
  box-sizing: border-box;
  margin: 0;
  padding:0;
  font-family: Helvetica, sans-serif;
}
#wrapper{
  	margin:0 auto;
  }
  li, a{
    font-size: 16px;
    color:black;
    text-decoration: none;
  }

  /*header/ top navigation bar*/
  .logo{
    display:block;
    margin-left: auto;
    margin-left: 0;
  }
  .logo img{
     padding: 20px;
     width:30%;
   }
header .navbar-ul{
  align-items: center;
  background-color:#2e455d;
  padding: 10px;
  width:100%;
  text-decoration: none;
  text-align: right;
}
 header .navbar-ul li{
  display:inline-block;
  flex-wrap: wrap;
}
header .navbar-ul li a{
    color: white;
}
.navbar-ul li a.active{
  color:#77c1e6;
}
  nav{
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }

  /*header for small screen*/
  .hamburger{
  background-color: transparent;
  border: 0;
  color: black;
  font-size: 30px;
  cursor: pointer;
  display: none;
  width:100%;
  padding:20px;
  display: none;
}
.hamburger:focus{
  outline: none;
}
.hamburger:hover{
  color:#606870;
}

/*footer*/
footer{
    clear: both;
    background-color:#2e455d;
  }
footer .icon{
  list-style: none;
  margin-right: auto;
  padding-left: 10px;
}
footer .icon li{
  padding-left: 10px;
  display: inline-block;
}
footer .icon li a{
    transition: all 0.3s ease 0s;
    color: white;
}
footer .icon li a:hover{
  color: #606870;
  text-decoration: none;
}
footer .icon img{
  background-color: white;
  color:#2e455d;
}
footer .copyright{
 margin-top: -20px;
  display: flex;
}
footer .copyright p{
  color: white;
  font-size: 16px;
  float: left;
  padding-left: 20px;
}
footer .copyright a{
  text-decoration: none;
  color: white;
  font-size: 16px;
}
footer .copyright a:hover{
  color:#606870;
}
.navbar-nav{
  flex-wrap: wrap;
}
.nav-footer{
   display:flex;
   flex-wrap: wrap;
   align-items: center;
  justify-content: space-between;
   background-color:#2e455d;
   padding: 10px;
   width:100%;
   color: white;
 }
.nav-footer h6{
  padding-left: 10px;
}
footer .navbar-nav li a{
  color: white;
}
footer .navbar-nav li a.active{
  color: #77c1e6;
}
ul li a:hover{
    color:#606870;
}
footer li a i{
  padding-right: 10px;
}


/*small screen - 650px width*/
@media screen and (max-width: 650px) {
  .navbar-ul{
    display:none;
    flex-direction: column;
    width:100%;
  }
.hamburger{
  display: block;
  text-align: right;
  margin-top: -80px;
  color:#2e455d;
}
.navbar-ul.show{
  display: flex;
}
   footer .navbar{
     display: none;
   }
   footer h6{
     display:none;
   }
   footer .icon, .copyright{
     width: 80%;
     margin:0 auto;
   }
   .center{
      font-size: 26px;
    }
   .main{
     font-size: 14px;
   }
  }
.main {
  background-image:url("../images/disclaimerone.jpg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-attachment:local;
  width:90%;
  margin: auto;
  padding: 20px;
  margin-bottom: 40px;
}
h1{
  font-size: 40px;
  text-align: center;
  padding:30px;
  }
.main p{
  font-weight: bold;
  font-size: 25px;
  width:90%;
  margin: auto;
  padding:20px;
  text-align: justify;
}
